
    {% extends "home.html" %}

    {% block body_block %}

    <style>
        .demo {
            color: #fff;
        }

        .jumbotron {
            background: rgb(238, 174, 202);
            background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(70, 21, 149, 1) 100%);
        }
    </style>


    <div class="container my-4" align="center">
        <div class="jumbotron">
            <h1 class="demo"> Ecommerce App
            </h1>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Optio sapiente at deserunt, dolorum dolores debitis sunt neque
            quidem alias voluptatibus nesciunt, veritatis quo assumenda,
            modi impedit saepe consequuntur illo illum.
            Asperiores harum quod nam autem necessitatibus
            cupiditate saepe excepturi officiis dignissimos,
            neque sequi? Laudantium id accusamus illo tenetur
            dignissimos quae vero veritatis omnis nobis, officiis
            animi rerum cum doloremque delectus.
            Nihil totam laborum voluptatem consequuntur iste! Voluptate
            amet magni odit, quisquam velit veritatis ea numquam temporibus
            pariatur odio. Provident dicta voluptatum ab voluptas animi atque
            mollitia quia eaque nesciunt cupiditate!
            Aperiam numquam ullam aliquid quod doloribus?
            Id, eum voluptas quos natus ullam quas molestias.
        </p>
    </div>



    <footer class="container" align='center'>
        <p class="float-right btn-link"><a href="/home">Back to top</a></p>
        <p>© 2020-2021 Ecommerce App , Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    {% endblock %}

