<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .jumbotron{
            background: rgb(238,174,202);
            background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(70,21,149,1) 100%);
        }
        p{
            color: rgb(14, 13, 13);
        }
    </style>
</head>
<body>
    <div class="container" align="center">
         <div class="jumbotron" >
             <p>Thaks for shopping with us.Your product will be delivered within 3 working days.
                 Happy Shopping!!!Please shop again!!.
             </p>
         </div>
    </div>


</body>
</html>